.className {
	property1: 5;
	property2: "16px";
	property3: "hidden";
}
.closebutton {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: #109af0bd;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  margin-left: 6px;
  text-align:left;
}
.window {
  border: solid;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: absolute;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.125);
}
